@import url('https://fonts.googleapis.com/css?family=Cabin:400,600');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Yellowtail');


// Colors
@white: #FFFFFF;
@black: #212529;
@gold: #c0a756;
@pTag: #777777;
@transparentBlack: rgba(12, 12, 13, 0.78);
@lightGray: #818181;
// Mobile var
// Media Queries
@tablet: ~"(max-width: 800px)";
@mobile: ~"(max-width: 500px)";



// example 
// @media @mobile {
//   width: 90%;
// }

// line-height: 32px;